# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
games.db

# Uploaded images
static/uploads/*

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db